.title{
  font-size: 1.2em;
  padding-top: 10px;
  padding-left: 25px;
  margin: 0;
  font-family: Avenir;
}

.subtitle h3{
  font-size: 1em;
  padding-left: 25px;
  margin: 0;
  font-family: Avenir;
}
.subtitle h4{
  font-size: 0.8em;
  padding-left: 25px;
  margin: 0;
  font-family: Avenir;
}

h4{
  font-size: 0.8em;
  margin: 0;
  font-family: Avenir;
}

p{
  font-size: 0.6em;
  white-space:pre-line;
}

ion-list{
  margin: 5px 5px;
}

#container{
  height: 100%;
  font-family: Avenir;
}
